/*
meu codigo
*/
body{
  margin: 50px;
  font-family: Arial;
}
h1{
  text-align: center;
}

.div1{

  height: 150px;
  border-radius: 4px;
  width: 800px;
  margin-left: 20px;
  color: white;
  background: black;


}
.p1{
  margin-left: 20px;
  color:gray ;
}

.dinheiro{
  color: yellow;
}

.informacao{
  color: rgb(184, 134, 11);
}
button{
  font-size: 20px;
  border-radius: 4px;
  margin-left: 20px;
  color: black;
  background:  rgb(189, 180, 65) ;

}
.h21{
  padding-top: 20px;
  margin-left: 20px;
}
/*
codigo do meu curso
*/


span{
  color: #febe01;
}
a{
  display: inline-block;
  color: #332200;
  background: #febe01;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}

.div2{
  color: #fff;
  padding: 30px;
  background: #111;
  margin: 20px;
  border-radius: 4px;
}
.p2{
  color: #b2b2b2;
}
.h22{
  margin: 0px;
}
